body {
    font-size: 12pt;
    font-family: verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: url("images/bg.png") no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size: cover;
    background-size: cover;
    animation: slideBg 8s linear infinite 0s;
    animation-timing-function: ease-in-out;
}

@keyframes slideBg {
    0% {
        background: url("images/bg.png") no-repeat center center fixed;
    }
    25% {
        background: url("images/bg2.png") no-repeat center center fixed;
    }
    50% {
        background: url("images/bg3.png") no-repeat center center fixed;
    }
    75% {
        background: url("images/bg4.png") no-repeat center center fixed;
    }
    100% {
        background: url("images/bg5.png") no-repeat center center fixed;
    }
}

#banner {
    background-image: url("images/banner-background.png");
    background-repeat: repeat;
    font-size: 24pt;
    font-weight: bold;
    color: white;
    padding: 10px;
}

h1 {
    text-align: center;
}

.container {
  height: 300px;
  position: relative;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center a {
    margin: 5px;
}

.button {
  background-color: #b22222; 
  width: 150px;
  border: none;
  color: #F0F0F0;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button {
  transition-duration: 0.4s;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

select {
    width: 315px;
}

.content{
    width: 380px;
    text-align: center;
    font-size: 24px;
    padding-bottom: 15px;
    margin: auto;
    background-color: white;
    border-radius: 3px;
    -moz-box-shadow:    1px 1px 5px 2px #ccc;
    -webkit-box-shadow: 1px 1px 5px 2px #ccc;
    box-shadow:         1px 1px 5px 2px #ccc;
}

.big-paragraph {
  text-align: center;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.signup-box, .login-box, .log-session-box {
  width: 360px;
  padding-bottom: 15px;
  margin: auto;
  background-color: white;
  border-radius: 3px;
  -moz-box-shadow:    1px 1px 5px 2px #ccc;
  -webkit-box-shadow: 1px 1px 5px 2px #ccc;
  box-shadow:         1px 1px 5px 2px #ccc;
}

#signup, #login, #log {
  text-align: center;
  padding-top: 15px;
}

form {
  width: 300px;
  margin-left: 20px;
}

form label {
  display: flex;
  margin-top: 20px;
  font-size: 18px;
}

form input {
  width: 100%;
  padding: 7px;
  border: none;
  border: 1px solid gray;
  border-radius: 6px;
  outline: none;
}

input[type="submit"] {
  width: 320px;
  height: 35px;
  margin-top: 20px;
  border: none;
  background-color: #b22222;
  color: white;
  font-size: 18px;
}

.p-below {
  margin-top: 20px;
  text-align: center;
  color: black;
  font-size: 15px;
}

.p-below a {
  color: #b22222;
}

.error{
	width: 92%;
	margin: 0px auto;
	padding: 10px;
	border: 1px solid #A94442;
	color: #A94442;
	background: #F2DEDE;
	border-radius: 5px;
	text-align: center;
}
.success{
	color: #3C763D;
	background: #DFF0D8;
	border: 1px solid #3C763D;
	margin-bottom: 20px;
	text-align: center;
}

.match {
    height: 220px;
	margin-bottom: 1em;
    padding-bottom: 1em;
    background-color: white;
    border-radius: 3px;
    -moz-box-shadow:    1px 1px 5px 2px #ccc;
    -webkit-box-shadow: 1px 1px 5px 2px #ccc;
    box-shadow:         1px 1px 5px 2px #ccc;

}

.match img {
	width: 130px;
	float: left;
	margin-right: 10px;
	margin-bottom: 3em;
    padding-top: 50px;
}

.match p {
	background-color: #b22222;
	clear: left;
}

#result {
    margin-left: 1em;
    font-size: 24pt;
}

p span {
    color: white;
    font-size: 24pt;
}

.match ul {
	padding-left: 160px;
}
