*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
    font-size: 12pt;
    font-family: verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: url("images/bg.png") no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size: cover;
    background-size: cover;
    animation: slideBg 8s linear infinite 0s;
    animation-timing-function: ease-in-out;
}

.sidebar{
    position: fixed;
    height: 100%;
    width: 240px;
    background: #0A2558;
    transition: all 0.5s ease;
}

.sidebar.active{
    width: 60px;
}

.sidebar .logo-details{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
} 

.sidebar .logo-details i{
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    min-width: 60px;
    text-align: center;
}

.sidebar .logo-details .logo_name{
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}

.sidebar .nav-links{
    margin-top: 16px;
}

.sidebar .nav-links li{
    height: 50px;
    width: 100%;
    list-style: none;
}

.sidebar .nav-links li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
}


.sidebar .nav-links li a:hover{
    background: #081D45;
}

.sidebar .nav-links li a i{
    min-width: 60px;
    text-align: center;
    color: #fff;
    font-size: 18px;
}

.sidebar .nav-links li a .link_name{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
}

.home-section{
    background: #f5f5f5;
    position: relative;
    min-height: 100vh;
    height: 100%;
    width: calc(100% - 240px);
    left: 240px;
    transition: all 0.5s ease;
}

.sidebar.active ~ .home-section{
    width: calc(100% - 60px);
    left: 60px;
}

.home-section nav{
    position: fixed;
    width: calc(100% - 240px);
    left: 240px;
    height: 80px;
    background: #fff;
    padding: 0 20px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s ease;
}

.sidebar.active ~ .home-section nav{
    width: calc(100% - 60px);
    left: 60px;
}

.home-section nav .sidebar-button{
    display: flex; 
    align-items: center;
    font-size: 24px;
    font-weight: 500;
}

.home-section nav .sidebar-button i{
    font-size: 35px;
    margin-right: 10px;
}

.home-section nav .profile-details{
    display: flex;
    align-items: center;
    height: 50px;
    min-width: 190px;
    background: #F5F6FA;
    border: 2px solid #EFEEF1;
    border-radius: 6px;
    padding: 0 15px 0 2px;
}

nav .profile-details img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 6px;
}

nav .profile-details .user{
    font-size: 15px;
    font-weight: 500;
    color: #333;
    margin: 0 10px;
    white-space: nowrap;
}

nav .profile-details i{
    color: #333;
    font-size: 25px;
}

.home-section .home-content {
    position: relative;
    padding-top: 100px;
}

.home-content .overview-boxes{
    display: flex;
    width: 100%;
    padding: 0 30px;
    align: center;
}

.home-content .overview-boxes .box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 14px;
    background: #fff;
    border-radius: 12px;
}

.home-content .overview-boxes .box-topic{
    font-size: 20px;
    font-weight: 500;
}

@keyframes slideBg {
    0% {
        background: url("images/bg.png") no-repeat center center fixed;
    }
    25% {
        background: url("images/bg2.png") no-repeat center center fixed;
    }
    50% {
        background: url("images/bg3.png") no-repeat center center fixed;
    }
    75% {
        background: url("images/bg4.png") no-repeat center center fixed;
    }
    100% {
        background: url("images/bg5.png") no-repeat center center fixed;
    }
}

#banner {
    background-image: url("images/banner-background.png");
    background-repeat: repeat;
    font-size: 24pt;
    font-weight: bold;
    color: white;
    padding: 10px;
}

h1 {
    text-align: center;
}

.container {
  min-height: 400px;
  position: relative;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center a {
    margin: 5px;
}

.button {
  background-color: #b22222; 
  width: 150px;
  border: none;
  color: #F0F0F0;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button {
  transition-duration: 0.4s;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

select {
    width: 315px;
}

.content{
    width: 380px;
    min-height: 300px;
    overflow: hidden;
    text-align: center;
    font-size: 24px;
    padding-bottom: 15px;
    margin: auto;
    background-color: white;
    border-radius: 3px;
    -moz-box-shadow:    1px 1px 5px 2px #ccc;
    -webkit-box-shadow: 1px 1px 5px 2px #ccc;
    box-shadow:         1px 1px 5px 2px #ccc;
}

.big-paragraph {
  text-align: center;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.signup-box, .login-box, .log-session-box {
  width: 360px;
  padding-bottom: 15px;
  margin: auto;
  background-color: white;
  border-radius: 3px;
  -moz-box-shadow:    1px 1px 5px 2px #ccc;
  -webkit-box-shadow: 1px 1px 5px 2px #ccc;
  box-shadow:         1px 1px 5px 2px #ccc;
}

#signup, #login, #log {
  text-align: center;
  padding-top: 15px;
}

form {
  width: 300px;
  margin-left: 20px;
}

form label {
  display: flex;
  margin-top: 20px;
  font-size: 18px;
}

form input {
  width: 100%;
  padding: 7px;
  border: none;
  border: 1px solid gray;
  border-radius: 6px;
  outline: none;
}

input[type="submit"] {
  width: 320px;
  height: 35px;
  margin-top: 20px;
  border: none;
  background-color: #b22222;
  color: white;
  font-size: 18px;
}

.p-below {
  margin-top: 20px;
  text-align: center;
  color: black;
  font-size: 15px;
}

.p-below a {
  color: #b22222;
}

.error{
	width: 92%;
	margin: 0px auto;
	padding: 10px;
	border: 1px solid #A94442;
	color: #A94442;
	background: #F2DEDE;
	border-radius: 5px;
	text-align: center;
}
.success{
	color: #3C763D;
	background: #DFF0D8;
	border: 1px solid #3C763D;
	margin-bottom: 20px;
	text-align: center;
}

.match {
    height: 220px;
	margin-bottom: 1em;
    padding-bottom: 1em;
    background-color: white;
    border-radius: 3px;
    -moz-box-shadow:    1px 1px 5px 2px #ccc;
    -webkit-box-shadow: 1px 1px 5px 2px #ccc;
    box-shadow:         1px 1px 5px 2px #ccc;

}

.match img {
	width: 130px;
	float: left;
	margin-right: 10px;
	margin-bottom: 3em;
    padding-top: 50px;
}

.match p {
	background-color: #b22222;
	clear: left;
}

#result {
    margin-left: 1em;
    font-size: 24pt;
}

p span {
    color: white;
    font-size: 24pt;
}

.match ul {
	padding-left: 160px;
}

table {
    border: 1px solid #dad9d4;
    margin: auto;
    border-collapse: collapse;
    width: 90%;
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #dad9d4;
}

caption {
    font-size: 24pt;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
